/**
 * ligang
 */
 
 .logo{
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img{
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.logo h1{
  color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 10px;
}

.Search{
  border-radius: 35%;
  margin-left: 20px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 5px solid #1890ff;
  background: black;
}

.content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: 1px solid silver;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left{
  height: 800px;
  width: 256px;
  background: rgb(192, 192, 186);
  padding: 10px;
  color: wheat;
}

.top{
  height: 250px;
  width: 100%;
  border: 1px solid silver;
  border-bottom: 2px solid #C10D0C;
  display: flex;
  // align-items: center;
}

.top_right{
  padding: 10px;
  margin: 20px;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button{
  width: 60px;
  height: 30px;
  margin-top: 280px;
  margin-left: -60px;
}

.footer{
  background: rgb(222, 221, 233);
  font-style: italic;
  font-weight: 600px;
  font-family: fantasy;
}
