// /**
//  * ligang
//  */
//  @import "~antd/lib/style/themes/default.less";
 
//  .header {
//    // border: 1px solid black;
//    // padding: 0 12px 0 0;
//    background: #fff;
//    // box-shadow: 0 1px 4px rgba(5, 26, 46, 0.08);
//    // background-image: url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=4054929897,1024111557&fm=27&gp=0.jpg);
//    // &:hover{
//    //   background-image: url(https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2600924200,1477247412&fm=27&gp=0.jpg)
//    // }
//    // position: relative;
//  }
//  .left{
//    // border: 1px solid black;
//    background-color: silver;
//    // height: 700px;
//    // background: #001529;
//    flex: 0 0 256px;
//    max-width: 256spx;
//    min-width: 256px;
//    // background-color: beige;
//    // box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
//    // width: 400px;
//    // background: #051424;
//  }
 
//  .middle{
//    margin-left: 5px; 
//    background: rgb(14, 114, 84)
//  }
 
//  .logo{
//    display: inline-block;
//    height: 64px;
//    position: relative;
//    line-height: 64px;
//    // padding-left: (@menu-collapsed-width - 50px) / 2;
//    padding-left: -24px;
//    transition: all .3s;
//    background: #045770;
//    overflow: hidden;
//    width: 100%;
//  }
 
//  .logo h1{
//    color: rgb(255, 255, 255);
//    display: inline-block;
//    vertical-align: middle;
//    font-size: 20px;
//    margin: 0 0 0 12px;
//    font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
//    // font-weight: 600;
//  }
 
//  .trigger{
//    font-size: 18px;
//    line-height: 64px;
//    padding: 0 16px;
//    cursor: pointer;
//    transition: color .3s;
//    border: 1px solid rgb(4, 82, 36);
//  }
 
//  .logo img{
//    display: inline-block;
//    vertical-align: middle;
//    height: 32px;
//  }
 
//  .content{
//    height: 500px;
//    // border: 1px solid blueviolet;
//    margin: 10px;
//  }
 
//  .footer{
//  // border: 1px solid black;
//  margin-top: 10px;
//  background-color: brown;
//  &:hover {
//    background: @primary-1;
//  }
//  }
//  .left{
//    display: flex;
//    float: left;
//    background: sienna;
//    border: 1px solid black;
//   //  height: 500px;
//    margin: 10px;
//    padding: 10px;
//  }
//  .cright{
//   //  display: flex;
//   float: left;
//   // margin-left: 10px;
//   border: 1px solid silver;
//   height: 500px;
//   margin: 10px;
//   padding: 10px;
//   // width: 300px;
//  }
 
.logo {
  width: 120px;
  height: 31px;
  // background: rgba(148, 12, 12, 0.2);  
  background: red;
  margin: 16px 24px 16px 0;
  float: left;
}

.header{
  display: flex;
  flex-direction: row;
  // height: 80px;
  background: bisque;
  position: relative;
  z-index: 1000;
  // height: 170px;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 1px solid #000;
  padding: 0 15px;
}
.middle{
  height: 500px;
  background: seagreen;
  border: 1px solid silver;
}

.move{
  margin: 0;
}

.move img{
  width: 100%;
}

.footer{
  height: 120px;
  background: salmon;
  border: 1px solid silver;
}
.hlogo{
  margin: 10px;
  color: silver;
}