/**
 * ligang
 */
 
.logo{
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  // height: 64px;
  // position: relative;
  // line-height: 64px;
  // // padding-left: (@menu-collapsed-width - 50px) / 2;
  // padding-left: -24px;
  // transition: all .3s;
  // background: #045770;
  // overflow: hidden;
  // width: 100%;
}

.logo img{
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.logo h1{
  color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 10px;
}

.Search{
  border-radius: 35%;
  margin-left: 20px;
}

.sider{
  // border: 1px solid silver;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 5px solid #1890ff;
  background: black;
}
.content{
  display: flex;
  // flex: 1;
  // flex-direction: row;
  // align-content: center;
  // justify-content: center;
  // height: 700px;
  // background: seagreen;
  // margin: 20px;
  // border: 1px solid silver;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  // background:  sandybrown;
  padding: 10px;
  width: 1000px;
  // border: 2px solid #C10D0C;
  // margin: 10px;
}
.right{
  // border: 1px solid black;
  width: 256px;
  background: rgb(15, 15, 14);
  // background: rgb(18, 218, 175);
  padding: 10px;
  // background: black;
  color: wheat;
}

// .Sider{
//   display: flex;
//   background: rgb(21, 22, 22);
//   padding: 10px 0 20px 0;
//   width: 600px;
//   border: 1px solid bisque;
//   // margin-left: 100px;
// }

.move{
  // padding: 20px;
  // height: 400px;
  // overflow: hidden;
  // text-align: center;
  // height: 160px;
  // line-height: 160px;
  // width: 100%;
}
.top{
  display: inline-block;
  // flex-direction: row;
  align-items: center;
  justify-content: center;
  border: salmon;
  width: 100%;
  // height: 500px;
  background: black;
  border: 1px solid black;
  overflow: hidden;
  text-align: center;
  border: 1px solid silver;
  // height: 160px;
  // line-height: 660px;
  padding: 20px;
  // opacity: 0.5;
}

.svga{
  height: 200px;
  width: 200px;
  opacity: 0.5;
  z-index: 1000;
  position: absolute;
  top: 86.5px;
  left: 220px;
  box-shadow: 20px 20px 5px black;
  // background-color: #000000;
}

.svgb{
  height: 200px;
  width: 200px;
  opacity: 0.5;
  z-index: 1000;
  position: absolute;
  top: 86.5px;
  left: 980px;
  box-shadow: -20px 20px 5px black;
  // background-color: #000000;
}


.svgc{
  height: 1000px;
  width: 1000px;
  opacity: 0.5;
  z-index: 1000;
  position: absolute;
  top: 86.5px;
  left: 200px;
  // box-shadow: -20px 20px 5px black;
  // background-color: #000000;
}

.wrap{
  margin: 10px 0;
  border-left: 1px solid silver;
  border-top: 1px solid silver;
  // width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 5px silver;
  // height: 50%;
}

.move img{
  width: 100%;
  // height: 300px;
}

.footer{
  // height: 120px;
  // display: flex;
  background: rgb(222, 221, 233);
  // border: 1px solid rgb(34, 32, 32);
  font-style: italic;
  font-weight: 600px;
  font-family: fantasy;
}

.title{
  color: red;
  a:hover{
    color:red;
  }
}
